	<div id="mainBg">
		<nav class="navbar navbar-dark ">
			<div class="top-bar-title">
				<div class="topbar-responsive-logo"><strong><i class="fas fa-hamburger"></i>&emsp;Recipe Tracker</strong></div>
			</div>
			<a class="navbar-brand" href="/logout">Logout</a>
		</nav>