<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
		<title>Recipe Tracker!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/recipes.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>