<!DOCTYPE html>
<html lang="en">

    <head>
	<meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        	
			<title>MVC Recipes!</title>

		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<script src="https://kit.fontawesome.com/bc519c4149.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/recipes.js"></script>
	</head>
	<body>

		<nav class="navbar navbar-dark bg-light">
        	<div class="top-bar-title">
            	<div class="topbar-responsive-logo">
                <strong><i class="fas fa-hamburger"></i>&emsp;Recipe Tracker</strong></div>
        	</div>
		 </nav>

		 <div class="container">

    		<div class="jumbotron text-center">
      			<h1>Recipe Tracker</h1>
      			<h3>Create Read Update Destroy Recipes!</h3>
      		<hr>
			  	<a href="/all" class="btn btn-primary btn-lg">
        		<span class="fa fa-th-list"></span> All Recipes</a>
      			<a href="/" class="btn btn-primary btn-lg">
        		<span class="fa fa-eye"></span> Search Recipes</a>
      			<a href="/add" class="btn btn-primary btn-lg">
        		<span class="fa fa-plus"></span> Add New Recipe</a>
    		</div>
		</div>	
		{{{ body }}}

		<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-light">
        	<div class="container justify-content-end">
				<div class="bottombar-responsive-logo">
                <strong><i class="fas fa-hamburger"></i>&emsp;&copy; 2020 Chef's Top Sites</strong>
            </div>
        	</div>
    	</nav>
	</body>
</html>