{{>headerAlt_two}}

<div class="container">

  <div class="jumbotron text-center">
    <h1>Recipe Tracker</h1>
    <h3>Create Read Update Destroy Recipes!</h3>
    <hr>
    <a href="/all" class="btn btn-primary btn-lg">
      <span class="fa fa-th-list"></span> All Recipes</a>
    <a href="/" class="btn btn-primary btn-lg">
      <span class="fa fa-eye"></span> Search Recipes</a>
    <a href="/add" class="btn btn-primary btn-lg">
      <span class="fa fa-plus"></span> Add New Recipe</a>
  </div>
</div>

<div class="container" id="container_add">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Need Help or Want to Leave a Comment?
        </div>

        <div class="card-body">
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="">How can we reach you?</label>
              <input type="text" class="form-control" id="ingredients" placeholder="e.g., Email, social media user-handle">
            </div>
            <div class="form-group">
              <label for="">Issue Category</label>
              <input type="text" class="form-control" id="category" placeholder="e.g., Login issue, Site Troubleshoot, Suggestion">
            </div>
            <div class="form-group">
              <label for="">What is the issue or question?</label>
              <textarea type="text" class="form-control" id="content" placeholder=""></textarea>
            </div>
          </form>
          <br>
          <div class="text-right">
            <button type="submit" class="btn btn-primary btn-md" id="add-btn">
              <span class="fa fa-book"></span> Send Request</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/add.js"></script>