

  <div class="container">

    <div class="row">

      <div class="col-lg-12">

        <div class="card mb-4">
          <div class="card-header">
            Search for a Recipe
          </div>
          <div class="card-body">
            <input type="text" id="book-search" class="form-control">
            <br>
            <div class="text-right">
              <button class="btn btn-primary btn-md" id="search-btn">
                <span class="fa fa-search"></span> Search</button>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            Ingredients Search
          </div>
          <div class="card-body">
            <input type="text" id="author-search" class="form-control">
            <br>
            <div class="text-right">
              <button class="btn btn-primary btn-md" id="author-search-btn">
                <span class="fa fa-search"></span> Search</button>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            Category Search
          </div>
          <div class="card-body">
            <input type="text" id="genre-search" class="form-control">
            <br>
            <div class="text-right">
              <button class="btn btn-primary btn-md" id="genre-search-btn">
                <span class="fa fa-search"></span> Search</button>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            Book Search Results
          </div>
          <div class="card-body">
            <div class="well" id="stats">
              <h2 id="title">Books:</h2>
              <div>
                <h6>
                  <strong>Written by </strong>
                  <span id="author"></span>
                </h6>
                <h6>
                  <strong>Genre:</strong>
                  <span id="genre"></span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Script -->
  {{!-- <script src="js/view.js" type="text/javascript"></script> --}}